{% extends "base.html" %}

{% block title %}Robotic Arm - Automatic Control{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="control-box">
      <h2 class="mb-3">Automatic Control</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="img-container mb-3">
            <img src="{{ url_for('static', filename='robo.jpeg') }}" alt="Robotic Arm" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-display mb-3">
            <h5 class="mb-2">Object Detection & Picking</h5>
            <p>The robotic arm is trained to recognize and pick up various objects. Select an object from the list, and the arm will automatically locate and pick it up.</p>
            <p>After picking, you can use manual control to place the object in your desired location.</p>
            <p><strong>Note:</strong> This feature is currently under development.</p>
          </div>
          <div class="control-box mb-3">
            <h5 class="mb-2">Trained Objects</h5>
            <p class="mb-2">The following objects can be detected:</p>
            <div class="list-group">
              <div class="list-group-item mb-2">Small Box</div>
              <div class="list-group-item mb-2">Cup</div>
              <div class="list-group-item">Ball</div>
            </div>
          </div>
          <a href="{{ url_for('MANUAL_CONTROL') }}" class="btn btn-primary mt-2">Switch to Manual Control</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}