<?xml version="1.0" ?>
<robot name="roboticarm" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find roboticarm_description)/urdf/materials.xacro" />
<xacro:include filename="$(find roboticarm_description)/urdf/roboticarm.trans" />
<xacro:include filename="$(find roboticarm_description)/urdf/roboticarm.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.07170147470861574 0.0724672454182439 0.3244590303819093" rpy="0 0 0"/>
    <mass value="555.7346839951744"/>
    <inertia ixx="27.918915" iyy="27.919482" izz="8.711404" ixy="-0.000347" iyz="0.003477" ixz="0.00733"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="waist_1">
  <inertial>
    <origin xyz="-4.5394164495393685e-07 0.000910466670597028 0.0159037153558238" rpy="0 0 0"/>
    <mass value="2.5376552135525894"/>
    <inertia ixx="0.006217" iyy="0.006015" izz="0.010077" ixy="0.0" iyz="-5e-05" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.034565 -0.054849 -0.708914" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/waist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.034565 -0.054849 -0.708914" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/waist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="shoulder_1">
  <inertial>
    <origin xyz="-4.5394164471801446e-07 -0.035845507747538544 0.19064392313557188" rpy="0 0 0"/>
    <mass value="8.062761032384062"/>
    <inertia ixx="0.067114" iyy="0.067471" izz="0.005059" ixy="0.0" iyz="-0.0003" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.034565 -0.092619 -0.760831" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.034565 -0.092619 -0.760831" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="elbow_1">
  <inertial>
    <origin xyz="-7.27691491417895e-05 -0.03320582485557203 0.1555982788395438" rpy="0 0 0"/>
    <mass value="7.521482396242973"/>
    <inertia ixx="0.04938" iyy="0.04967" izz="0.004753" ixy="1e-06" iyz="0.000784" ixz="-8.9e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.034565 -0.088479 -1.087958" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/elbow_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.034565 -0.088479 -1.087958" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/elbow_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="w_a_1">
  <inertial>
    <origin xyz="-4.539416358084747e-07 -0.0001347854618797828 0.023017894662987537" rpy="0 0 0"/>
    <mass value="0.32955278928588533"/>
    <inertia ixx="0.000115" iyy="7.4e-05" izz="6.3e-05" ixy="0.0" iyz="1e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.034057 -0.054011 -1.390853" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_a_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.034057 -0.054011 -1.390853" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_a_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="w_b_1">
  <inertial>
    <origin xyz="-4.5394163915302155e-07 -0.023736476061548904 0.011335494498837306" rpy="0 0 0"/>
    <mass value="0.03411828668710707"/>
    <inertia ixx="2.4e-05" iyy="6e-06" izz="2e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.034057 -0.076617 -1.427861" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_b_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.034057 -0.076617 -1.427861" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_b_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="w_c_1">
  <inertial>
    <origin xyz="-0.003951945014557701 -0.027299377766914802 0.06838515761215969" rpy="0 0 0"/>
    <mass value="0.6216016037280759"/>
    <inertia ixx="0.001485" iyy="0.001254" izz="0.000602" ixy="6.7e-05" iyz="0.000585" ixz="-0.000116"/>
  </inertial>
  <visual>
    <origin xyz="-0.034057 -0.052881 -1.454861" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_c_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.034057 -0.052881 -1.454861" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_c_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="gripper_1">
  <inertial>
    <origin xyz="-1.4549959634693743e-06 -0.004374027679356865 0.05098711189891225" rpy="0 0 0"/>
    <mass value="0.7040814534189734"/>
    <inertia ixx="0.00099" iyy="0.000924" izz="0.000643" ixy="-0.0" iyz="9.8e-05" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.034057 -0.052881 -1.542061" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/gripper_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.034057 -0.052881 -1.542061" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/gripper_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 11" type="continuous">
  <origin xyz="0.034565 0.054849 0.708914" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="waist_1"/>
  <axis xyz="0.0 -0.0 -1.0"/>
</joint>

<joint name="Revolute 12" type="continuous">
  <origin xyz="0.0 0.03777 0.051917" rpy="0 0 0"/>
  <parent link="waist_1"/>
  <child link="shoulder_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="Revolute 13" type="continuous">
  <origin xyz="0.0 -0.00414 0.327127" rpy="0 0 0"/>
  <parent link="shoulder_1"/>
  <child link="elbow_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
</joint>

<joint name="Revolute 18" type="continuous">
  <origin xyz="-0.000508 -0.034468 0.302895" rpy="0 0 0"/>
  <parent link="elbow_1"/>
  <child link="w_a_1"/>
  <axis xyz="-0.0 0.0 1.0"/>
</joint>

<joint name="Revolute 19" type="continuous">
  <origin xyz="0.0 0.022606 0.037008" rpy="0 0 0"/>
  <parent link="w_a_1"/>
  <child link="w_b_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
</joint>

<joint name="Revolute 20" type="continuous">
  <origin xyz="0.0 -0.023736 0.027" rpy="0 0 0"/>
  <parent link="w_b_1"/>
  <child link="w_c_1"/>
  <axis xyz="0.0 -0.0 -1.0"/>
</joint>

<joint name="Rigid 21" type="fixed">
  <origin xyz="0.0 0.0 0.0872" rpy="0 0 0"/>
  <parent link="w_c_1"/>
  <child link="gripper_1"/>
</joint>

</robot>
