<?xml version="1.0" ?>
<robot name="roboticarm" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find roboticarm_description)/urdf/materials.xacro" />
<xacro:include filename="$(find roboticarm_description)/urdf/roboticarm.trans" />
<xacro:include filename="$(find roboticarm_description)/urdf/roboticarm.gazebo" />

<link name="base_link">
  <inertial>
    <origin xyz="-0.007118748865126541 0.03854857506884498 0.3409955293067082" rpy="0 0 0"/>
    <mass value="555.7346839951744"/>
    <inertia ixx="27.91875" iyy="27.919694" izz="8.711451" ixy="-0.0" iyz="0.0" ixz="0.008321"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="waist_1">
  <inertial>
    <origin xyz="0.0009107621972253219 -4.249311544579637e-07 0.015904214280618723" rpy="0 0 0"/>
    <mass value="2.53765521355259"/>
    <inertia ixx="0.006015" iyy="0.006217" izz="0.010077" ixy="-0.0" iyz="-0.0" ixz="-5e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.049279 -0.038549 -0.72545" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/waist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.049279 -0.038549 -0.72545" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/waist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="shoulder_1">
  <inertial>
    <origin xyz="0.0382973877790897 0.19064302764500768 -3.051579688939654e-08" rpy="0 0 0"/>
    <mass value="8.062761032384056"/>
    <inertia ixx="0.067471" iyy="0.005059" izz="0.067114" ixy="-0.0003" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.085169 -0.038549 -0.777368" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.085169 -0.038549 -0.777368" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="elbow_1">
  <inertial>
    <origin xyz="0.02920247067105579 -7.21401386509779e-05 -0.15559823879592616" rpy="0 0 0"/>
    <mass value="7.521482396242957"/>
    <inertia ixx="0.04967" iyy="0.04938" izz="0.004753" ixy="1e-06" iyz="8.9e-05" ixz="-0.000784"/>
  </inertial>
  <visual>
    <origin xyz="0.074501 -0.365675 -0.777368" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/elbow_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.074501 -0.365675 -0.777368" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/elbow_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="w_a_1">
  <inertial>
    <origin xyz="1.1946506871252094e-07 -0.00013443433148491168 -0.023017854619370004" rpy="0 0 0"/>
    <mass value="0.3295527892858855"/>
    <inertia ixx="0.000115" iyy="7.4e-05" izz="6.3e-05" ixy="-0.0" iyz="-1e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.046561 -0.365167 -0.474473" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_a_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.046561 -0.365167 -0.474473" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_a_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="w_b_1">
  <inertial>
    <origin xyz="-0.01133550447434497 -0.023736124931154012 1.6948420966667044e-07" rpy="0 0 0"/>
    <mass value="0.034118286687107154"/>
    <inertia ixx="2e-05" iyy="6e-06" izz="2.4e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.046561 -0.387773 -0.437465" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_b_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.046561 -0.387773 -0.437465" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_b_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="w_c_1">
  <inertial>
    <origin xyz="-0.06782464300296058 0.026772593483093132 0.004049226350809176" rpy="0 0 0"/>
    <mass value="0.6066238105736357"/>
    <inertia ixx="0.000591" iyy="0.001147" izz="0.001565" ixy="0.000578" iyz="6.6e-05" ixz="-0.000114"/>
  </inertial>
  <visual>
    <origin xyz="0.073561 -0.364037 -0.437465" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_c_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.073561 -0.364037 -0.437465" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_c_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="gripper_1">
  <inertial>
    <origin xyz="-0.05082579945466881 -1.12675168623122e-06 -0.005624385895113826" rpy="0 0 0"/>
    <mass value="0.7035467048550951"/>
    <inertia ixx="0.000642" iyy="0.000989" izz="0.000923" ixy="0.0" iyz="0.0" ixz="9.8e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.160761 -0.364037 -0.437465" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/gripper_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.160761 -0.364037 -0.437465" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/gripper_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="camera_1">
  <inertial>
    <origin xyz="0.160761 -0.364037 -0.487465" rpy="0 0 0"/>
    <mass value="0.13093799591739613"/>
    <inertia ixx="3.5e-05" iyy="3.6e-05" izz="9e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <!-- xyz: rotated offset so mesh stays at correct world position after rpy rotation -->
    <!-- rpy: +90deg around Y counter-rotates STL to face +X (toward gripper), matching joint Rigid50 -90deg -->
    <origin xyz="0.160761 -0.364037 -0.437465" rpy="0 1.5708 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/camera_1.stl" scale="0.00001 0.00001 0.00001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <!-- Matches visual origin so physics hull aligns with visible mesh -->
    <origin xyz="0.160761 -0.364037 -0.437465" rpy="0 1.5708 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/camera_1.stl" scale="0.00001 0.00001 0.00001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 43" type="continuous">
  <origin xyz="-0.049279 0.038549 0.72545" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="waist_1"/>
  <axis xyz="-0.0 -0.0 -1.0"/>
</joint>

<joint name="Revolute 44" type="continuous">
  <origin xyz="-0.03589 0.0 0.051918" rpy="0 0 0"/>
  <parent link="waist_1"/>
  <child link="shoulder_1"/>
  <axis xyz="-1.0 -0.0 0.0"/>
</joint>

<joint name="Revolute 45" type="continuous">
  <origin xyz="0.010668 0.327126 0.0" rpy="0 0 0"/>
  <parent link="shoulder_1"/>
  <child link="elbow_1"/>
  <axis xyz="-1.0 -0.0 0.0"/>
</joint>

<joint name="Revolute 46" type="continuous">
  <origin xyz="0.02794 -0.000508 -0.302895" rpy="0 0 0"/>
  <parent link="elbow_1"/>
  <child link="w_a_1"/>
  <axis xyz="-0.0 0.0 -1.0"/>
</joint>

<joint name="Revolute 47" type="continuous">
  <origin xyz="0.0 0.022606 -0.037008" rpy="0 0 0"/>
  <parent link="w_a_1"/>
  <child link="w_b_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
</joint>

<joint name="Revolute 48" type="continuous">
  <origin xyz="-0.027 -0.023736 0.0" rpy="0 0 0"/>
  <parent link="w_b_1"/>
  <child link="w_c_1"/>
  <axis xyz="1.0 0.0 -0.0"/>
</joint>

<joint name="Rigid 49" type="fixed">
  <origin xyz="-0.0872 0.0 0.0" rpy="0 0 0"/>
  <parent link="w_c_1"/>
  <child link="gripper_1"/>
</joint>

<joint name="Rigid 50" type="fixed">
  <!-- rpy: -90deg around Y → camera optical axis (Z) points toward gripper (+X of w_c_1) -->
  <!-- xyz tweak: if camera clips inside body, nudge Y up e.g. 0.03939 → 0.055 -->
  <origin xyz="-0.1191 0.03939 -0.031767" rpy="0 -1.5708 0"/>
  <parent link="w_c_1"/>
  <child link="camera_1"/>
</joint>

</robot>
