<?xml version="1.0" ?>
<robot name="roboticarm" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find roboticarm_description)/urdf/materials.xacro" />
<xacro:include filename="$(find roboticarm_description)/urdf/roboticarm.trans" />
<xacro:include filename="$(find roboticarm_description)/urdf/roboticarm.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-3.547914798234435e-05 -1.683174968380892e-05 0.35976515982250573" rpy="0 0 0"/>
    <mass value="555.7346839951744"/>
    <inertia ixx="27.918915" iyy="27.919482" izz="8.711404" ixy="-0.000347" iyz="0.003477" ixz="0.00733"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="waist_1">
  <inertial>
    <origin xyz="-4.0779824263259545e-07 0.0009103895026694626 0.015903844796416156" rpy="0 0 0"/>
    <mass value="2.5376552135525894"/>
    <inertia ixx="0.006217" iyy="0.006015" izz="0.010077" ixy="0.0" iyz="-5e-05" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.037172 0.017635 -0.74422" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/waist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.037172 0.017635 -0.74422" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/waist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="shoulder_1">
  <inertial>
    <origin xyz="-4.077982421191173e-07 -0.03584558491546613 0.1906430525761622" rpy="0 0 0"/>
    <mass value="8.062761032384062"/>
    <inertia ixx="0.067114" iyy="0.067471" izz="0.005059" ixy="0.0" iyz="-0.0003" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.037172 -0.020135 -0.796138" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.037172 -0.020135 -0.796138" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="elbow_1">
  <inertial>
    <origin xyz="-7.272300573903101e-05 -0.03320590202349964 0.1555984082801296" rpy="0 0 0"/>
    <mass value="7.521482396242973"/>
    <inertia ixx="0.04938" iyy="0.04967" izz="0.004753" ixy="1e-06" iyz="0.000784" ixz="-8.9e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.037172 -0.015995 -1.123264" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/elbow_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.037172 -0.015995 -1.123264" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/elbow_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="w_a_1">
  <inertial>
    <origin xyz="-4.077982328140606e-07 -0.00013486262980735853 0.023018024103573786" rpy="0 0 0"/>
    <mass value="0.32955278928588533"/>
    <inertia ixx="0.000115" iyy="7.4e-05" izz="6.3e-05" ixy="0.0" iyz="1e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.03768 0.018473 -1.426159" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_a_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.03768 0.018473 -1.426159" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_a_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="w_b_1">
  <inertial>
    <origin xyz="-4.0779823604758514e-07 -0.023736553229476452 0.011335623939423112" rpy="0 0 0"/>
    <mass value="0.03411828668710707"/>
    <inertia ixx="2.4e-05" iyy="6e-06" izz="2e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.03768 -0.004133 -1.463167" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_b_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.03768 -0.004133 -1.463167" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_b_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="w_c_1">
  <inertial>
    <origin xyz="-0.003951898871154574 -0.027298454934841707 0.06838528705274549" rpy="0 0 0"/>
    <mass value="0.6216016037280759"/>
    <inertia ixx="0.001485" iyy="0.001254" izz="0.000602" ixy="6.7e-05" iyz="0.000585" ixz="-0.000116"/>
  </inertial>
  <visual>
    <origin xyz="0.03768 0.019604 -1.490167" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_c_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.03768 0.019604 -1.490167" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/w_c_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="gripper_1">
  <inertial>
    <origin xyz="-1.4088525602459767e-06 -0.004373104847283569 0.05098724133949806" rpy="0 0 0"/>
    <mass value="0.7040814534189734"/>
    <inertia ixx="0.00099" iyy="0.000924" izz="0.000643" ixy="-0.0" iyz="9.8e-05" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.03768 0.019604 -1.577367" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/gripper_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.03768 0.019604 -1.577367" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find roboticarm_description)/meshes/gripper_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 22" type="continuous">
  <origin xyz="-0.037172 -0.017635 0.74422" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="waist_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
</joint>

<joint name="Revolute 23" type="continuous">
  <origin xyz="0.0 0.03777 0.051918" rpy="0 0 0"/>
  <parent link="waist_1"/>
  <child link="shoulder_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="Revolute 24" type="continuous">
  <origin xyz="0.0 -0.00414 0.327126" rpy="0 0 0"/>
  <parent link="shoulder_1"/>
  <child link="elbow_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="Revolute 25" type="continuous">
  <origin xyz="-0.000508 -0.034468 0.302895" rpy="0 0 0"/>
  <parent link="elbow_1"/>
  <child link="w_a_1"/>
  <axis xyz="0.0 0.0 1.0"/>
</joint>

<joint name="Revolute 26" type="continuous">
  <origin xyz="0.0 0.022606 0.037008" rpy="0 0 0"/>
  <parent link="w_a_1"/>
  <child link="w_b_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
</joint>

<joint name="Revolute 27" type="continuous">
  <origin xyz="0.0 -0.023737 0.027" rpy="0 0 0"/>
  <parent link="w_b_1"/>
  <child link="w_c_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
</joint>

<joint name="Rigid 28" type="fixed">
  <origin xyz="0.0 0.0 0.0872" rpy="0 0 0"/>
  <parent link="w_c_1"/>
  <child link="gripper_1"/>
</joint>

</robot>
