@font-face {
  font-family: 'Futury Light';
  src: url('static/fonts/FuturyLight.woff2') format('woff2'),
       url('static/fonts/FuturyLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --background-color: #0d0d0d;      /* Light background */
  --primary-color: #003366;         /* Dark blue for headings and nav */
  --secondary-color: #005f99;       /* Slightly lighter blue for accents */
  --accent-color: #ff9900;          /* Accent (e.g., links) */
  --text-color: #333333;            /* Main text color */
  --nav-bg: #e0e0e0;                /* Light color for navbar */
}
body {
  background-color: var(--background-color);
  font-family: 'Futury Light', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: var(--nav-bg) !important;
}
