Flask==3.0.2
flask-talisman==1.1.0
flask-limiter==3.5.1
Werkzeug==3.0.1
gunicorn==21.2.0
python-dotenv==1.0.1
Flask-SocketIO==5.3.3
#numpy==1.26.4
#scipy==1.12.0
pyserial==3.5
python-socketio==5.10.0
eventlet==0.35.2 
requests>=2.31.0
